<div class="sidebar-module sidebar-module-inset">
  <h4><%= t('general.blog.sidebar.about') %></h4>
  
  I'm a Software Engineer @ VIMN Northern Europe and 
  creator of <a rel="nofollow" href="http://Volontari.at">Volontari.at</a> powered by 
  Open Crowdsource Management System <a rel="nofollow" href="http://Voluntary.Software">Voluntary.Software</a>
  as well as the CMS <a rel="nofollow" href="http://Home-Page.Software">Home-Page.Software</a>.
</div>