<div class="sidebar-module sidebar-module-inset">
  <h4><%= t('general.blog.sidebar.about') %></h4>
  
  I'm a software engineer of the web content management system @ Viacom International Media Networks and created the open source crowdsourcing platform <a rel="nofollow" href="http://Volontari.at">Volontari.at</a> plus the CMS <a rel="nofollow" href="http://Home-Page.Software">Home-Page.Software</a>.
</div>