<div class="sidebar-module">
  <h4><%= t 'general.blog.sidebar.social_links' %></h4>
  <ul class="pagination">
    <li><a href="http://Twitter.com/Volontarian"><i class="icon-1x icon-twitter"></i></a></li>
    <li><a href="http://github.com/Volontarian"><i class="icon-1x icon-github"></i></a></li>
    <li><a href="http://last.fm/user/Volontarian"><i class="icon-1x icon-lastfm"></i></a></li>
    <li><a href="https://www.facebook.com/GeekForce"><i class="icon-1x icon-facebook"></i></a></li>
    <li><a href="http://de.linkedin.com/in/Volontarian"><i class="icon-1x icon-linkedin"></i></a></li>
  </ul>
</div>