Work in progress: for the time being you can find me on <a href="https://www.facebook.com/GeekForce">Facebook</a>, <a href="http://de.linkedin.com/in/gawlista">LinkedIn</a>, <a href="http://last.fm/user/MurdochFFM">last.fm</a> and <a href="http://github.com/gawlista">GitHub</a>.
