I'm a software engineer of the web content management system @ Viacom International Media Networks and created the open source crowdsourcing platform <a rel="nofollow" href="http://Volontari.at">Volontari.at</a> plus the CMS <a rel="nofollow" href="http://Home-Page.Software">Home-Page.Software</a>.<br/>

Work in progress: for the time being you can find me on <a href="https://www.facebook.com/GeekForce">Facebook</a>, <a href="http://de.linkedin.com/in/Volontarian">LinkedIn</a>, <a href="http://last.fm/user/Volontarian">last.fm</a> and <a href="http://github.com/Volontarian">GitHub</a>.